doctype html
html(lang="en")
    head
        title Portfolio of Brett Huggins
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //Load Styles
        link(rel="shortcut icon", href="img/favicons/favicon.ico")
        link(rel="stylesheet", href="css/main.css")
    body
        include ../02-modules/header.jade
        include ../03-pages/landing.jade
        include ../03-pages/about.jade
        .break.about-brk
        include ../03-pages/portfolio.jade
        .break.portfolio-brk
        include ../03-pages/resume.jade
        .break.resume-brk
        include ../03-pages/contact.jade
        footer
            .bar
                .container
                    p Thank you for viewing my work
                    p © Brett Huggins, 2015
        
        
            

        script(src="js/jquery-2.1.4.min.js")
        script(src="js/functions.js")
        //Load Fonts
        script(src="https://use.typekit.net/iij1csg.js")
        script try{Typekit.load({ async: true });}catch(e){}