header
    .headerBG
        .barThick
        .container
            .tab
                include ../01-elements/headerTab.html
            .barThin
        .barThin
    
    .container
        .brand
            h1 Brett Huggins
            .logo 
                a(href="#landing"): include ../01-elements/logo.html
        nav
            a(href="#about") About
            span |
            a(href="#portfolio") Portfolio
            span |
            a(href="#resume") Resume
            span |
            a(href="#contact") Contact