.work03
    .work-header
        h1 Personal Website Creation
    .work-content
        p.col-2-3 Start with Logo
        .col-1-3
            img(src='./img/personalNotesLogo.jpg' alt='Logo sketches')
        p.col-full Refinement of logos
        .col-full.logo-box
            .logo-box
                .logo.purp
                .logo.whiteG
                .logo.whiteP
                .logo.black
        .col-contain
            p.col-2-3 Wireframing the site
            .col-1-3.col-order-first
                img(src='./img/personalNotesWireframe.jpg' alt='Wireframe sketches')
        p.col-2-3 Programmed up using Sass and Jade
        .col-1-3
            img(src='./img/jade-logo-header.svg' alt='Jade Logo').pre-logo
            img(src='./img/logo-b6e1ef6e.svg' alt='Sass Logo').pre-logo