.work03
    .work-header
        h1 Personal Website Creation
    .work-content
        p.col-2-3.col-1-2s To begin I explored several different logo/branding ideas for myself.  I sketched out several ideas, some based around my initials, and others based around interests (you’ll probably notice coffee appears a few times.  I settled on the bh with arrows because it fit the minimalistic clean design style that I prefer.
        .col-1-3.col-1-2s
            img(src='./img/personalNotesLogo.jpg' alt='Logo sketches')
        p.col-full Next was figuring out the color schemes and general design elements.  Many of my initial schemes were based around the purple because it’s a strong confident color, also helped that it’s my favorite color.  I knew that I wanted to incorporate some of my photography of Chicago into my site, and I found that the odd angles of several of the buildings were appealing, and contrasted the curves of the logo very well.  At that point I realized that the only way to keep a simple color palette was to keep the photos in black and white or monochrome.  To bring that into the rest of the design as well I chose to have one purple be the only color, and to settle on a light grey, dark grey, and white to match along with the high contrast of the photos.
        .col-full.logo-box
            .logo-box
                .logo.purp: include ../01-elements/logo.html
                .logo.whiteG: include ../01-elements/logo.html
                .logo.whiteP: include ../01-elements/logo.html
                .logo.black: include ../01-elements/logo.html
        .col-contain
            p.col-2-3.col-1-2s Once I thought of a few ways to use my colors and elements to set up some hierarchies, I began sketching a few wireframes.  Since this would be a site I would use to present myself I went with the singular long page because it would always keep my name in view, and had a controlled flow of information.  Using some basic Javascript I ensured that even when jumping sections, everything I wanted to be seen would pass through the user’s view.
            .col-1-3.col-1-2s.col-order-first
                img(src='./img/personalNotesWireframe.jpg' alt='Wireframe sketches')
        p.col-2-3 After my wireframe sketches I created the page in photoshop to set the layout proportions and export the assets I would need.  I made use of Jade and Sass to keep my files concise, and took advantage of the import functions of both languages to keep my code broken into small easy to edit pieces as I built the page.  I also used GitHub for version control, which came in very handy when I realized my initial design for the portfolio section would not work on mobile and made large changes to it.
        .col-1-3
            img(src='./img/jade-logo-header.svg' alt='Jade Logo').pre-logo
            img(src='./img/logo-b6e1ef6e.svg' alt='Sass Logo').pre-logo