.work01
    .work-header
        h1 Mobile first design for The Darkest Roast
        a(href='http://codepen.io/direbacon/full/vNdvav/' target='blank').button View Live
    .work-content
        p.col-full These are the original design ideas for a coffee shop called The Darkest Roast.  To the best of my knowledge this is not a real coffee shop, and any similarities are purely coincidental.
        .col-full.img-bar
            img(src='./img/darkroastNotes.jpg' alt='Original Sketches of Darkest Roast design')
        .col-1-2
            img(src='./img/darkroastOriginal.jpg' alt='First design phase for the Darkest Roast')
        p.col-1-2 After implementing these designs into a responsive page I found that the changes from mobile to desktop were too jarring, and the final desktop design was too cluttered.  I also felt the mobile design was too plain, so I incorporated a few of the desktop ideas into it.  After simplifying the desktop design to be more like the mobile I found the flow from one screen size to the other was much better.
        p.col-full The image below shows the design changes I refer to, and the flow from phone to tablet to desktop sized screens.  To see the responsive version click the "View Live" button at the top.
        .col-full
            img(src='./img/darkroastFinal.jpg' alt='Redesign for the Darkest Roast')