
section.about#about
    .container
        .options
            a.personal.active Who I Am
            a.testimonial What Others Say
        .content
            .myself
                .words
                    p Cras eget fringilla odio. Maecenas sed neque vehicula, euismod sem a, accumsan felis. Nunc feugiat, metus sed scelerisque feugiat, tortor turpis molestie turpis, sit amet luctus purus sapien vel massa. Praesent condimentum posuere tortor. 
                    p Nunc imperdiet cursus enim vel posuere. Morbi sagittis diam nec nunc pellentesque aliquet. Aenean ultrices libero libero, ac ultricies leo molestie nec. Donec odio enim, venenatis sed interdum vitae, volutpat nec enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris iaculis enim at dolor mattis, id fermentum mauris pretium. Curabitur at condimentum urna, lobortis lobortis purus. In eget felis nec sem eleifend finibus blandit id purus. Mauris nulla magna, varius ut ante ac, lacinia elementum orci.
                .avatar
            .others
                ul
                    li
                        .qmark
                            include ../01-elements/quoteMark.html
                        p Brett has an amazing array of skills. In addition to being an extremely talented artist, he compliments his creative side with extensive knowledge in the technical arena as well. However, the thing that has impressed me most is how he takes that talent and channels it through an ability to lead a team to success and always encourage them to reach for more. It was a true privilege to work with him.
                        p
                            strong - Jace Steenbarger
                            span 3D Modeler, Ignitor Labs
                ul
                    li
                        .qmark
                            include ../01-elements/quoteMark.html
                        p As a mentor and a manager, Brett is top-notch. The way he was able to explain things to his team was easy to understand and straight-forward without being dumbed-down. His asset-building skills - be it in Photoshop, Illustrator, Flash, etc. - are equally as impressive. He's also quite skilled at multi-tasking, being able to bounce between administrative tasks, animation, audio editing, and numerous other jobs. Brett is definitely a great leader and a wonderful co-worker.
                        p
                            strong - Lisa Streitmatter
                            span Digital Artist/Animator, Freelance
                ul
                    li
                        .qmark
                            include ../01-elements/quoteMark.html
                        p Brett is incredibly detail-oriented. He is concise and dedicated to every project I have seen him undertake - and he's completed a wide variety of tasks. With each new obstacle he has managed to go beyond the requirements while learning as much as he can so that in the future, he will be well prepared to undertake that task again. He is also very willing to share his knowledge with others and push them to become better.
                        p
                            strong - Katie Diedrick
                            span Event Specialist, Arkadin
                ul
                    li
                        .qmark
                            include ../01-elements/quoteMark.html
                        p Brett is very passionate and has great vision for his work. His focus keeps everything moving smoothly, he makes sure all the deadlines are met, and makes sure projects under his management or he is working on meets the highest standards. Brett demonstrates his exceptional skills in both design, animation as well as leadership. He is a great asset to any company.
                        p
                            strong - Tony Pan
                            span LMS Administrator / Web Developer
                        