section.contact#contact
    .container
        .social
            a(href="http://codepen.io/direbacon/" target="blank").socialBlock
                p CodePen
                .bubble.icon-codepen
            a(href="https://www.linkedin.com/in/brett-huggins-b8072216" target="blank").socialBlock
                p LinkedIn
                .bubble.icon-linkedin
            a(href="https://www.behance.net/bhuggs" target="blank").socialBlock
                p B<span class="accent">e</span>hance
                .bubble.icon-behance
            a(href='https://twitter.com/_bretthuggins' target='blank').socialBlock
                p Twitter
                .bubble.icon-twitter
        .cinfo
            h2 Let's get in touch
            .email
                p Send me a message
                a(href="mailto:bhuggins@gmail.com") <i class="icon-envelope-square"></i> bhuggins.fl@gmail.com
            .phone
                p Give me a call
                a(href="tel:+15132037603") <i class="icon-phone-square"></i> (513)203-7603
