section.contact#contact
    .container
        .social
            .socialBlock
                p CodePen
                .bubble
            .socialBlock
                p LinkedIn
                .bubble
            .socialBlock
                p GitHub
                .bubble
            .socialBlock
                p Twitter
                .bubble
        .cinfo
            h2 Let's get in touch
            .email
                a bhuggins.fl@gmail.com
                p Send me a message
            .phone
                a (513)203-7603
                p Give me a call