section.contact#contact
    .container
        .social
            .socialBlock
                p CodePen
                .bubble
            .socialBlock
                p LinkedIn
                .bubble
            .socialBlock
                p GitHub
                .bubble
            .socialBlock
                p Twitter
                .bubble
        h2 Let's get in touch
        a.email bhuggins.fl@gmail.com
        p.email Send me a message
        a.phone (513)203-7603
        p.phone Give me a call