section.contact#contact
    .container
        .social
            a(href="http://codepen.io/direbacon/" target="blank").socialBlock
                p CodePen
                .bubble.icon-codepen
            a(href="https://www.linkedin.com/in/brett-huggins-b8072216" target="blank").socialBlock
                p LinkedIn
                .bubble.icon-linkedin
            a(href="https://github.com/direbacon" target="blank").socialBlock
                p GitHub
                .bubble.icon-github
            a.socialBlock
                p Twitter
                .bubble.icon-twitter
        .cinfo
            h2 Let's get in touch
            .email
                a(href="mailto:bhuggins@gmail.com") <i class="icon-envelope-square"></i> bhuggins.fl@gmail.com
                p Send me a message
            .phone
                a <i class="icon-phone-square"></i> (513)203-7603
                p Give me a call