section.landing#landing
    .container
        .landingNav
            a(href="#about") Get to know me
            a(href="#portfolio") See what I make
            a(href="#resume") View my skills
            a(href="#contact") Let's talk
                