section.portfolio#portfolio
    .container
        .content
            .thumbnails
                .thumbnail-grid
                    .thumb(data-piece="work01" style="background-image: url('./img/darkroastThumb.jpg')")
                        h4 The Darkest Roast
                    .thumb(data-piece="work02" style="background-image: url('./img/ignitorThumb.jpg')")
                        h4 Ignitor Labs Redesign Proposal
                    .thumb(data-piece="work03" style="background-image: url('./img/personalThumb.jpg')")
                        h4 Personal Website Creation
                    .thumb(data-piece="work04")
                        h4 Coming Soon
                    .thumb(data-piece="work05")
                        h4 Coming Soon
                    .thumb(data-piece="work06")
                        h4 Coming Soon
                a(href='./downloads/BrettHuggins_Portfolio.pdf' target='blank').button <i class="icon-file-pdf"></i>Download Print PDF
            .piece
                h3.return <i class="icon-angle-left"></i> Go Back
                .pieceLoad
                
