section.portfolio#portfolio
    .container
        .content
            .carousel
                .scrollL.icon-angle-left
                .carouselInner
                    ul
                        li.thumb(data-piece="work01" style="background: goldenrod")
                        li.thumb(data-piece="work02" style="background-image: url('./img/thumb_work02.jpg')")
                            h4 Ignitor Labs Redesign Proposal
                        li.thumb(data-piece="work03" style="background: blue")
                        li.thumb(style="background: green")
                        li.thumb(style="background: purple")
                .scrollR.icon-angle-right
                a(href='./downloads/BrettHuggins_Portfolio.pdf' target='blank').button <i class="icon-file-pdf"></i>Download Print PDF
            .piece
                h3.return <i class="icon-angle-left"></i> Go Back
                .pieceLoad
                
