section.portfolio#portfolio
    .container
        .content
            .thumbs
                .scrollL.icon-angle-left
                .carouselInner
                    ul
                        li
                        li(style="background: red")
                        li(style="background: blue")
                        li(style="background: green")
                        li(style="background: purple")
                .scrollR.icon-angle-right
            .piece