section.resume#resume
    .container
        .links
            a.button Download Print PDF
            a(href="https://www.linkedin.com/in/brett-huggins-b8072216" target="blank").button Go to Linked Profile
        h2 Skills
        .skills
            .skillBlock
                p Javascript
                .skillLevel.level-4
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p CSS3
                .skillLevel.level-7
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p HTML5
                .skillLevel.level-7
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Adobe Muse
                .skillLevel.level-7
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p After Effects
                .skillLevel.level-5
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Premier
                .skillLevel.level-6
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Flash
                .skillLevel.level-10
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Captivate
                .skillLevel.level-7
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Edge Animate
                .skillLevel.level-7
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Illustrator
                .skillLevel.level-9
                    include ../01-elements/skillBubbles.html
            .skillBlock
                p Photoshop
                .skillLevel.level-10
                    include ../01-elements/skillBubbles.html
        h2 Experience
        .experience
            .job
                h3 Lead Animator / LMS Administrator at Ignitor Labs
                h3.date June 2013 - June 2015
                h4 Lead Animator Responsibilities:
                ul
                    li Managed project timelines and assigned tasks to improve my team’s efficiency
                    li Reviewed and assigned revisions to maintain design quality and standards
                    li Worked with clients for final reviews and revisions in preparation for product launch
                    li Designed workflow structures for new projects and to take advantage of new tools available
                    li Researched best tools and workflows to use when converting from Flash animation to HTML5
                    li Communicated with Instructional Design, 3D, and Programming teams to ensure optimum integration between departments
                    li Designed assets and created animations for current and upcoming projects
                    li Edited video trailers to be uploaded and streamed on course description pages
                h4 LMS Administrator Responsibilities:
                ul
                    li Packaged completed courses into SCORM packages and uploaded to the Ignitor Labs LMS
                    li Created course description pages and attached SCORM content
                    li Updated and maintained course catalogs
                    li Managed user groups and permissions
                    li Assisted users in accessing and using the learning platform
                h4 Other Duties Performed:
                ul
                    li Updated brand assets and standards when TrainingU24/7 converted to the Ignitor Labs brand
                    li Communicated with LMS provider to convert domains to match the new brand identity
                    li Contacted and assisted any clients with remote connections to update
                    li Attended new product development meetings
                    li Designed banners and print materials to be used at expos and conventions
            .job
                h3 Flash Designer at Ignitor Labs <span>(Previously TrainingU24/7)</span>
                h3.date November 2011 - June 2013
                h4 Animator Responsibilities:
                ul
                    li Interpreted storyboards and scripts to design assets and animations for instructional training courses
                h4 Other Duties Performed:
                ul
                    li Designed banners and print materials to be used at expos and conventions
            .job
                h3 Impress Associate at OfficeMax
                h3.date May 2010 - March 2012
                ul
                    li Designed and cleaned up customer designs for off site vinyl printing, and other products
                    li Produced customer orders involving various sized prints, folding, and finishing in house
                    li Reworked filing system for customer orders to improve in store efficiency