.about-brk
    background-image: url(../img/break01-2000.jpg)
        
.portfolio-brk
    background-image: url(../img/break02-2000.jpg)
        
.resume-brk
    background-image: url(../img/break03-2000.jpg)