.thumbs, .piece
    width: 50%
    overflow: hidden
    
.thumbs
    position: relative
    float: left
    border: 2px solid black
    display: flex
    align-items: center
    
.carouselInner
    position: relative
    width: 765px
    overflow: hidden
    background: pink
    margin: 0 auto
    ul
        position: relative
        width: 99999px
        background: honeydew
        left: -255px
        transition: all .3s ease
        li
            float: left
            width: 245px
            margin: 0 5px
            height: 375px
            background: goldenrod
        
.scrollL, .scrollR
    font-size: 125px
    color: $primary